 <!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
		<link rel="stylesheet" href="../assets/css/colors.css">
		<link rel="stylesheet" href="../assets/css/base.css">
		<link rel="stylesheet" href="../assets/css/flash.css">
		<link rel="stylesheet" href="../assets/css/tabs/upload.css">
		<link rel="stylesheet" href="../assets/css/tabs/search.css">
		<link rel="stylesheet" href="../assets/css/tabs/settings.css">
	</head>
	<body>
        <header class="text-center">
            <h1><i i18n="tab_upload_title"></i></h1>
            <h2><i i18n="tab_upload_subtitle"></i></h2>
        </header>

        <div id="navigation-tabs" class="align-center">
            <div class="toggler big" role="tablist">
                <div toggles="#tab-upload" role="tab" aria-selected="true" tabindex="0">
                    <i class="fal fa-images" aria-hidden="true"></i>
                </div>
                <div toggles="#tab-search" role="tab" tabindex="0">
                    <i class="fal fa-search" aria-hidden="true"></i>
                </div>
                <div toggles="#tab-settings" role="tab" tabindex="0">
                    <i class="fal fa-cog" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <form id="tab-upload" role="tabpanel" aria-hidden="false" data-title="i18n.tab_upload_title" data-subtitle="i18n.tab_upload_subtitle" i18n>
            <div class="image-preview">
                <label><i i18n="tab_upload_image_preview_label"></i></label>
                <img src="https://images.unsplash.com/photo-1600195075976-6c1d19c956d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
                <button type="button" class="secondary">
                    <i class="fal fa-cloud-upload"></i>
                    <i i18n="tab_upload_upload_button"></i>
                </button>
                <input type="file" id="filepicker">
            </div>
            <div class="options">
                <div class="field">
                    <label><i i18n="tab_upload_image_quality_label"></i></label>
                    <div class="toggler">
                        <input type="hidden" name="quality" value="high">
                        <div value="low" tabindex="0">
                            <i i18n="tab_upload_image_quality_option_low"></i>
                        </div>
                        <div value="medium" tabindex="0">
                            <i i18n="tab_upload_image_quality_option_medium"></i>
                        </div>
                        <div value="high" tabindex="0" aria-selected="true">
                            <i i18n="tab_upload_image_quality_option_high"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>
                        <i i18n="tab_upload_image_format_label"></i>
                    </label>
                    <div class="toggler">
                        <input type="hidden" name="format" value="original">
                        <div value="auto" tabindex="0">
                            <i i18n="tab_upload_image_format_option_auto"></i>
                        </div>
                        <div value="original" tabindex="0" aria-selected="true">
                            <i i18n="tab_upload_image_format_option_original"></i>
                        </div>
                    </div>
                </div>
                <button type="submit">
                    <i i18n="tab_upload_submit_button"></i>
                </button>
            </div>
        </form>

        <form id="tab-search" role="tabpanel" aria-hidden="true" data-title="i18n.tab_search_title" data-subtitle="i18n.tab_search_subtitle" i18n>
        </form>

        <form id="tab-settings" role="tabpanel" aria-hidden="true" data-title="i18n.tab_settings_title" data-subtitle="i18n.tab_settings_subtitle" i18n>
        </form>

        <div id="drag-indicator">
            <i i18n="ui_drag_indicator_label"></i>
        </div>

        <div id="drag-overlay" class="overlay">
            <i i18n="ui_drag_overlay_label"></i>
        </div>

        <div id="processing-overlay" class="overlay">
            <i i18n="ui_processing_overlay_label"></i>
        </div>

		<!-- External scripts & assets -->

		<!-- Helper scripts -->
  		<script src="../src/helpers/i18n.js"></script>
  		<script src="../src/helpers/dom.js"></script>
  		<script src="../src/helpers/flash.js"></script>
  		<script src="../src/helpers/ui.js"></script>

		<!-- Core functionality scripts -->
        <script src="../src/image-selection.js"></script>
	</body>
</html>
