<form id="tab-about" role="tabpanel" aria-hidden="true" data-title="i18n.tab_about_title" data-subtitle="i18n.tab_about_subtitle" i18n>
    <i i18n="tab_about_content"></i>

    <div class="social-links">
        <a href="https://twitter.com/cunrakes" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/emileperron/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://instagram.com/veganguywhocodes" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/emileperron" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</form>
