<form id="tab-plans" role="tabpanel" aria-hidden="true" data-title="i18n.tab_plans_title" data-subtitle="i18n.tab_plans_subtitle" i18n>
    <div class="plans-container">
        <div class="plan free" i18n-prefix="tab_plans_free_">
            <div class="header">
                <div class="title"><i i18n="title"></i></div>
                <div class="price">$0</div>
                <div class="per-month"><i i18n="tab_plans_per_month" i18n-prefix=""></i></div>
            </div>
            <hr>
            <div class="description-wrapper">
                <div class="description-line"><i i18n="desc_line1"></i></div>
                <div class="description-line"><i i18n="desc_line2"></i></div>
            </div>
            <button type="button" checkout-trigger="free">
                <i i18n="tab_plans_choose" i18n-prefix=""></i>
                <i i18n="title"></i>
            </button>
            <div class="current-plan-indicator">
                <i i18n="tab_plans_current_plan" i18n-prefix=""></i>
            </div>
        </div>

        <div class="plan starter" i18n-prefix="tab_plans_starter_">
            <div class="header">
                <div class="title"><i i18n="title"></i></div>
                <div class="price">$1<sup>.99</sup></div>
                <div class="per-month"><i i18n="tab_plans_per_month" i18n-prefix=""></i></div>
            </div>
            <hr>
            <div class="description-wrapper">
                <div class="description-line"><i i18n="desc_line1"></i></div>
                <div class="description-line"><i i18n="desc_line2"></i></div>
            </div>
            <button type="button" checkout-trigger="starter">
                <i i18n="tab_plans_choose" i18n-prefix=""></i>
                <i i18n="title"></i>
            </button>
            <div class="current-plan-indicator">
                <i i18n="tab_plans_current_plan" i18n-prefix=""></i>
            </div>
        </div>

        <div class="plan premium" i18n-prefix="tab_plans_premium_">
            <div class="header">
                <div class="title"><i i18n="title"></i></div>
                <div class="price">$5<sup>.99</sup></div>
                <div class="per-month"><i i18n="tab_plans_per_month" i18n-prefix=""></i></div>
            </div>
            <hr>
            <div class="description-wrapper">
                <div class="description-line"><i i18n="desc_line1"></i></div>
                <div class="description-line"><i i18n="desc_line2"></i></div>
            </div>
            <button type="button" checkout-trigger="premium">
                <i i18n="tab_plans_choose" i18n-prefix=""></i>
                <i i18n="title"></i>
            </button>
            <div class="current-plan-indicator">
                <i i18n="tab_plans_current_plan" i18n-prefix=""></i>
            </div>
        </div>

        <div class="plan enterprise" i18n-prefix="tab_plans_enterprise_">
            <div class="header">
                <div class="title"><i i18n="title"></i></div>
                <div class="price">$19<sup>.99</sup></div>
                <div class="per-month"><i i18n="tab_plans_per_month" i18n-prefix=""></i></div>
            </div>
            <hr>
            <div class="description-wrapper">
                <div class="description-line"><i i18n="desc_line1"></i></div>
                <div class="description-line"><i i18n="desc_line2"></i></div>
            </div>
            <button type="button" checkout-trigger="enterprise">
                <i i18n="tab_plans_choose" i18n-prefix=""></i>
                <i i18n="title"></i>
            </button>
            <div class="current-plan-indicator">
                <i i18n="tab_plans_current_plan" i18n-prefix=""></i>
            </div>
        </div>
    </div>
</form>
