<form id="tab-upload" role="tabpanel" aria-hidden="false" data-title="i18n.tab_upload_title" data-subtitle="i18n.tab_upload_subtitle" i18n>
    <div class="image-preview">
        <label><i i18n="tab_upload_image_preview_label"></i></label>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkqAcAAIUAgUW0RjgAAAAASUVORK5CYII=">
        <button type="button" class="secondary">
            <i class="fal fa-cloud-upload"></i>
            <i i18n="tab_upload_upload_button"></i>
        </button>
        <input type="file" id="filepicker">
    </div>
    <div class="options">
        <div class="field">
            <label><i i18n="tab_upload_image_quality_label"></i></label>
            <div class="toggler">
                <input type="hidden" name="quality" value="auto">
                <div value="low" tabindex="0">
                    <i i18n="tab_upload_image_quality_option_low"></i>
                </div>
                <div value="medium" tabindex="0">
                    <i i18n="tab_upload_image_quality_option_medium"></i>
                </div>
                <div value="high" tabindex="0">
                    <i i18n="tab_upload_image_quality_option_high"></i>
                </div>
                <div value="auto" tabindex="0" aria-selected="true">
                    <i i18n="tab_upload_image_quality_option_auto"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>
                <i i18n="tab_upload_image_format_label"></i>
            </label>
            <div class="toggler">
                <input type="hidden" name="format" value="original">
                <div value="auto" tabindex="0">
                    <i i18n="tab_upload_image_format_option_auto"></i>
                </div>
                <div value="original" tabindex="0" aria-selected="true">
                    <i i18n="tab_upload_image_format_option_original"></i>
                </div>
            </div>
        </div>
        <button type="submit">
            <i i18n="tab_upload_submit_button"></i>
        </button>
    </div>
</form>
