<form id="tab-user" role="tabpanel" aria-hidden="true" data-title="i18n.tab_user_title" data-subtitle="i18n.tab_user_subtitle" i18n>
    <div class="field license-type">
        <label><i i18n="tab_user_license_type"></i></label>
        <input type="text" disabled>
    </div>
    <div class="field license">
        <label><i i18n="tab_user_license"></i></label>
        <div class="help-text"><i i18n="tab_user_license_help_text"></i></div>
        <div class="input-button-wrapper">
            <input type="text" name="license">
            <button type="submit" class="secondary">Update my license</button>
        </div>
    </div>
    <div class="text-center">
        <button type="button" role="tab" toggles="#tab-plans">Upgrade my plan</button>
    </div>
</form>
